components/
roles/jmeter/files/candybox/*
dockers/mysql/qe-mysql-data/*
dockers/redash/postgres-data/*
*.jar
dockers/sonar/data/*
dockers/mongo/data/*
dockers/sonar/postgre/*
dockers/*/data/*
jenkins.war
.DS_Store
*/.DS_Store
*/*/.DS_store
dockers/appsmith/stacks
dockers/sqlpad/sqlpad
data/
references/*