{% for site in sites %}
{% macro listen_parameters() %}
	{% if site == "default" %} default_server{% endif %}
	{% if loop.first %} ipv6only=off{% endif %}
{% endmacro %}

{% macro favicon_config() %}
	location = /favicon.ico {
		try_files /usr/share/nginx/favicons/$host.ico /usr/share/nginx/favicons/default.ico;
	}
{% endmacro %}

server {
{% if site == 'all.orain.org' %}
	server_name *.orain.org degu.wiki www.degu.wiki rationalwiki.ssu.lt www.rationalwiki.ssu.lt www.chemtalk.org chemtalk.org wikiconstitucio.org wiki.revi.pe.kr wikimirsm.mateis.nl www.wikimirsm.mateis.nl gbf.platinumdis.co permanentfuturelab.wiki www.permanentfuturelab.wiki localhost;
{% endif %}
{% if site == 'spiral.wiki' %}
	server_name spiral.wiki;
	include /etc/nginx/sites-enabled-agnostic/all.orain.org;
{% else %}
	include /etc/nginx/sites-enabled-agnostic/{{site}};
{% endif %}
	listen [::]:80 {{ listen_parameters() }};
{{ favicon_config() }}

	add_header Content-Security-Policy "default-src 'self' static.orain.org; script-src 'self' js-agent.newrelic.com *.cloudflare.com cloudflare.com piwik.orain.org login.orain.org static.orain.org bits.wikimedia.org www.google.com tools.wmflabs.org *.gstatic.com pagead2.googlesyndication.com ajax.cloudflare.com 'unsafe-inline' 'unsafe-eval'; style-src 'self' static.orain.org 'unsafe-inline' fonts.googleapis.com; font-src *.orain.org themes.googleusercontent.com *.gstatic.com; frame-src www.google.com *.youtube.com *.dailymotion.com *.freenode.net googleads.g.doubleclick.net; object-src *.youtube.com; img-src 'self' data: upload.wikimedia.org www.google.com s3.amazonaws.com static.orain.org bits.orain.org piwik.orain.org;";
}

server {
{% if site == 'all.orain.org' %}
	server_name *.orain.org localhost;
{% endif %}
{% if site == 'spiral.wiki' %}
	server_name spiral.wiki;
	#ssl_certificate {{espiral_ssl_cert_path}}; -- SSL issues -John
	include /etc/nginx/sites-enabled-agnostic/all.orain.org;
{% else %}
	ssl_certificate {{ssl_cert_path}};
	include /etc/nginx/sites-enabled-agnostic/{{site}};
{% endif %}
	listen [::]:443 ssl {{ listen_parameters() }};
{{ favicon_config() }}

	add_header Content-Security-Policy "default-src 'self' static.orain.org; script-src 'self' js-agent.newrelic.com *.cloudflare.com cloudflare.com piwik.orain.org login.orain.org static.orain.org bits.wikimedia.org www.google.com tools.wmflabs.org *.gstatic.com pagead2.googlesyndication.com ajax.cloudflare.com 'unsafe-inline' 'unsafe-eval'; style-src 'self' static.orain.org 'unsafe-inline' fonts.googleapis.com; font-src *.orain.org themes.googleusercontent.com *.gstatic.com; frame-src www.google.com *.youtube.com *.dailymotion.com *.freenode.net googleads.g.doubleclick.net; object-src *.youtube.com; img-src 'self' data: upload.wikimedia.org www.google.com s3.amazonaws.com static.orain.org bits.orain.org piwik.orain.org;";

	# HSTS for 2 months
	add_header Strict-Transport-Security "max-age=5256000; includeSubDomains";
}
{% endfor %}

