user mediawiki;
worker_processes 1;
worker_rlimit_nofile 10000;

error_log /var/log/nginx/error.log warn;
pid       /var/run/nginx.pid;

events {
	worker_connections 1024;

	multi_accept on;

	use epoll;
}

http {
	# Security
	add_header X-Frame-Options DENY;
	server_tokens off;

	# Add server header
	add_header 'X-Served-By' '{{ ansible_hostname }}' always;
	include /etc/nginx/mime.types;
	default_type application/octet-stream;
	charset UTF-8;

	log_format main '$remote_addr - $remote_user [$time_local] '
                  '"$request" $status $body_bytes_sent '
                  '"$http_referer" "$http_user_agent" "$http_x_forwarded_for"';

	access_log /var/log/nginx/access.log main;

	sendfile on;
	# tcp_nodelay off;
	tcp_nopush on;

	client_body_timeout 10;
	client_header_timeout 10;
	client_max_body_size 10m;
	keepalive_timeout 45;
	reset_timedout_connection on;
	send_timeout 20;

	gzip on;
	gzip_comp_level 5;
	gzip_http_version 1.0; # CloudFront sends HTTP/1.0 requests
	gzip_min_length 256;
	gzip_proxied any;
	gzip_types application/atom+xml application/json application/x-javascript application/xml application/xml+rss text/css text/javascript text/plain text/xml;
	gzip_vary on;

	resolver 8.8.4.4 8.8.8.8;

	ssl_certificate_key {{ssl_cert_key_path}};
	ssl_ciphers "EECDH+AESGCM:EECDH:EDH+AESGCM:EDH:HIGH+AESGCM:HIGH:+SHA:+RC4:RC4 !aNULL:!eNULL:!LOW:!3DES:!MD5:!EXP:!PSK:!SRP:!DSS:!kECDH:!ECDSA";
	ssl_prefer_server_ciphers on;
	ssl_session_cache shared:SSL:5m; # Can hold about 20,000 sessions
	ssl_session_timeout 15m;
	ssl_stapling on;
	ssl_stapling_verify on;
	ssl_trusted_certificate /etc/nginx/issuer.crt;
	ssl_protocols TLSv1 TLSv1.1 TLSv1.2;

	include /etc/nginx/sites-enabled/all;
}

